<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>API URLs</h3>
    <a href="{% url 'hs_code_list' %}">HS Code</a> - GET,POST <br>
    <a href="{% url 'product_variant_list' %}">Product Variant</a> - GET,POST <br>
    <a href="{% url 'product_list' %}">Product List</a> - GET,POST <br>


    <a href="{% url 'parties_list' %}">Parties</a> - GET,POST <br>



    <a href="{% url 'customers_list' %}">Customer List</a> - GET <br>
    <a href="{% url 'vendors_list' %}">Vendor List</a> - GET <br>


    <a href="{% url 'purchase_list' %}">Purchase List</a> - GET,POST<br>


    <a href="https://vatdj.herokuapp.com/purchase/product_details/1/">On product Select Purchase Invoice Response</a> -POST(product_id only)<br>





</body>
</html>